---

---

<nav
  class="bg-gray-100 shadow-md border-b border-[#ccc] text-[#4e563f] font-serif sticky top-0 z-50"
>
  <div
    class="max-w-4xl mx-auto px-4 py-4 flex flex-col lg:flex-row items-center justify-center gap-2 lg:gap-50 text-center"
  >
    <!-- Logo -->
    <div class="mb-4 lg:mb-0 flex justify-center items-center space-x-4">
      <img
        src="/images/trattoria-la-bella-main-logo-sec.png"
        alt="Logo Trattoria La Bella"
        class="h-20 w-auto"
      />
    </div>

    <!-- Menú -->
    <div
      class="flex justify-center flex-wrap gap-8 text-2xl font-light text-center"
    >
      <a href="/" class="hover:text-[#e9d8a6] transition-colors">Inicio</a>
      <a
        href="https://images-cam93.s3.us-east-1.amazonaws.com/Menu+la+bella++(1).pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-[#e9d8a6] transition-colors"
      >
        Menú
      </a>

      <a href="/reservas" class="hover:text-[#e9d8a6] transition-colors"
        >Reservas</a
      >
      <a href="/contacto" class="hover:text-[#e9d8a6] transition-colors"
        >Contacto</a
      >
    </div>
  </div>
</nav>
